.ipynb_checkpoints/
__pycache__/
P8_Cityscapes_gtFine_trainvaltest/
P8_Cityscapes_leftImg8bit_trainvaltest/
ressources P8/
mySaves/models/
Patin_Clement_5_presentation_042024.pptx
Patin_Clement_4_note_technique_042024.docx
