.ipynb_checkpoints/
__pycache__/
P8_Cityscapes_gtFine_trainvaltest/
P8_Cityscapes_leftImg8bit_trainvaltest/
ressources P8/
mySaves/models/
Patin_Clement_5_presentation_042024.pptx
photo-prise-de-l-interieur-de-la-voiture-a-la-route-2e3kacw.jpg